body {
  background-color: white;
  font: 13px/1.5 sans-serif;
  margin: 0.3em 0;
}

#intro {
  text-align: justify;
  vertical-align: top;
  width: 70%;
  font-size: 150%;
  margin: 0 auto;
  padding: .5em 1em;
}

#footer {
  clear: both;
  text-align: center;
  width: 70%;
  margin: 10px auto;
  border-top: .5px solid #aaa;
}

#footer ul, #footer ul li {
    display: inline;
    padding: 0;
    margin: 0 10px;
}

a, a:active, a:focus {
    unicode-bidi: embed;
    white-space: nowrap;
    outline: 0;
    color: #0645AD;
    text-decoration: none;
}

a:hover {
    unicode-bidi: embed;
    white-space: nowrap;
    outline: 0;
    color: #0645AD;
    text-decoration: underline;
}


.icon-container {
  width: 70%;
  margin: 1.5em auto;
  padding: 0 1em;
}

.icon-box {
  padding: 1em;
  float: left;
}

.icon {
  display: inline-block;
  padding: 1.25em;
  width: 150px;
  height: 175px;
  line-height: 175px;
}
